@use '../styles/variables' as *;

.layout {
    display: flex;
    min-height: 100vh;
    background: $bg-body;
}

.mainWrapper {
    margin-left: 240px;
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: margin-left $transition-smooth, margin-right $transition-smooth;

    &.sidebarCollapsed {
        margin-left: 64px;
    }

    // RTL Support - flip margins
    [dir="rtl"] & {
        margin-left: 0;
        margin-right: 240px;

        &.sidebarCollapsed {
            margin-right: 64px;
        }
    }
}

.mainContent {
    flex: 1;
    padding: $spacing-6;
    background: $bg-body;
}